@import "reset.css";
@import "layout.css";
/* Importing Google Font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Color */
  --color-primary: #f0ece5; /* Hvid */
  --color-secondary: #563432; /* Mørkebrun */
  --color-tertiary: #c7b299; /* Brun */
  --color-quaternary: #c3afa1; /* Lysebrun */
  --color-accent: #842f2f; /* Rød */
  --color-hover: #5e1f1f; /* Mørkerød Hover knap*/

  /*Font*/
  --font-heading: "Roboto", sans-serif;
  --font-text: "Roboto", sans-serif;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 700; /* Bold */
  font-style: normal;
  color: var(--color-secondary);
}
h2 {
  font-family: var(--font-heading);
  font-weight: 600; /* Semibold */
  color: var(--color-secondary);
  margin-top: 0.5rem;
}
p {
  font-family: var(--font-text);
  font-weight: 400; /* Regular */
  color: var(--color-secondary);
  margin-top: 0.5rem;
}
